profiles {
    standard {
        docker.enabled=true
    }
    test{
        docker.enabled=true
    }
    drac {
        apptainer {
            enabled=true
            autoMounts=true
            runOptions = "-B /path/to/files"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
    }
    test_drac {
        apptainer {
            enabled=true
            autoMounts=true
            runOptions = "-B /path/to/files"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
    }
}